
@media screen and (min-width:769px) {
    .achieve{
        min-width: 12rem;
    }
    
}
@media (min-width: 769px){
    .mobile-logo{
        display: none !important; 
    }
    .list-item{
        display: flex !important;
    }
    .bar{
        display: none !important;
    }
}