@media screen and (max-width:768px ){
    .why-us-container{
        flex-direction: column;
    }
    .for-student-container{
        flex-direction: column;
    }
    .achievement{
        flex-direction: column;
    }
    #android-app>div{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
    footer h4{
        margin: 1rem;
    }
    footer h3{
        margin-bottom: 1rem;
    }
    .connect-us h3{
        margin: 1rem;
    }
    #copyright{
        flex-direction: column;
    }
    .achieve{
        padding: 1.5rem 0;
    }
    .why-us-reason{
        padding: 1.5rem 0;
    }
    #enquiry-form{
        min-width: 24rem;
    }
    .nav-list{
        flex-direction: column;
    }
    .header-logo{
        display: none;
    }
    .list-item a{
        font-size: 1.5rem;
    }
    .list-item{
        padding: .5rem;
        /* display: none; */
        display: none;

    }
    .nav-bar{
        justify-content: start;
        min-height: 3.5rem;
    }
    .hamburger{
        position: absolute;
        right: 1.2rem;
        top: .75rem;
    }
    .mobile-logo{
        position: absolute;
        height: 3rem;
        left: 1rem;
        
    }
    .bar{
        display: block !important;
    }
    .banner-text{
        font-size: 2.5rem !important;
    }
  
}
@media (min-width: 769px){
    .mobile-logo{
        display: none;
    }
}